.feature-card{
    background-color: rgba($color-white, .8);
    padding: 1.563rem;
    border-radius: 3px;
    box-shadow: 0 1rem 2.5rem rgba($color-dark, .15);
    text-align: center;
    transition: all .3s ease-in-out;

    &:hover, &:focus, &:active{
        transform: translateY(-1rem) scale(1.05);
    }


    i[class^="icon-"]{
        font-size: 3.75rem;
        @include lg(to right, $color-primary-light, $color-primary-dark);
        @include backgroundClip;
        margin-bottom: 0.625rem;
    }

   

}





